<div class="row">
  <div class="col-md-12">
    <h1>Editing landmark</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'form', landmark: @landmark %>

    <%= link_to 'Show', @landmark, class: 'btn btn-default' %> |
    <%= link_to 'Back', landmarks_path, class: 'btn btn-default' %>
  </div>
</div>
