<div class="row">
  <div class="small-12 columns">
    <h1>Editing landmark</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= render 'form', landmark: @landmark %>

    <%= link_to 'Show', @landmark, class: 'button' %>
  </div>
</div>
