<%

host = request.host_with_port.downcase
logo_file = "culturemap_logo_DEFAULT.png"

if host.include?("amherst")
  logo_file = "culturemap_logo_AMHERST.png"
elsif host.include?("holyoke")
  logo_file = "culturemap_logo_HOLYOKE.png"
elsif host.include?("northampton")
  logo_file = "culturemap_logo_NORTHAMPTON.png"
end

%>

<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <%= render 'shared/header' %>

    <footer>
    <div class="small-10-centered medium-4 left columns">
      <div class="name"> <a href="#"> <img src="/assets/<%= logo_file %>" alt="culturemap"/> </a> </div>
    </div>
    </footer>

    <%= render 'shared/visitor' %>


    <script>
      $(document).foundation();

      jQuery(window).scroll(function () {
      CM.parallax();
      });

    </script>
    <script>
      google.maps.event.addDomListener(window, 'load', CM.initialize);
    </script>
    <a class="exit-off-canvas"> </a>
  </div>
</div>

