<div class="row">
  <div class="small-12 columns">
    <h1>New landmark</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= render 'form', landmark: @landmark %>
  </div>
</div>
