<div class="row">
  <div class="col-md-12">
    <h1>New landmark</h1>

    <%= render 'form', landmark: @landmark %>

    <%= link_to 'Back', landmarks_path, class: 'btn btn-default' %>
  </div>
</div>
