@import 'foundation';
@import 'style';

#map-canvas{
  height: 600px;
}

// Fixes the conflict between Google Maps controls and Foundation
#map-canvas img{
  max-width: none;
}

.angular-google-map-container { height: 800px; width: 100%; max-width: none;}

.reveal-modal > :first-child{
  margin-top: 100px;

}

#landmark_image {
  max-width: 300px;
  max-height: 300px;
}

.main-content {
  position: relative;
  top: 45px;
} 
