//---------------------------- sass variables ----------------//

$blue: #00AEEF;

body %trans1{
  -webkit-transition: all 500ms cubic-bezier(0.485, 0.090, 0.095, 0.990);
  -moz-transition: all 500ms cubic-bezier(0.485, 0.090, 0.095, 0.990);
  -o-transition: all 500ms cubic-bezier(0.485, 0.090, 0.095, 0.990);
  transition: all 500ms cubic-bezier(0.485, 0.090, 0.095, 0.990); /* custom */

  -webkit-transition-timing-function: cubic-bezier(0.485, 0.090, 0.095, 0.990);
  -moz-transition-timing-function: cubic-bezier(0.485, 0.090, 0.095, 0.990);
  -o-transition-timing-function: cubic-bezier(0.485, 0.090, 0.095, 0.990);
  transition-timing-function: cubic-bezier(0.485, 0.090, 0.095, 0.990); /* custom */
}

//----------------------------type----------------------------//